@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    line-height: 1.6;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color-1: #193e79;
    --neutral-color: #ffff;
}

/* Utility Classes */

.text-center {
    text-align: center;
}
h1,
h2,
h3,
h4 {
    line-height: 1;
    font-weight: bold;
}

.bg-light {
    background-color: var(--neutral-color);
}
.bg-primary {
    background-color: var(--primary-color-1);
    color: var(--neutral-color);
}
.bg-dark {
    background-color: #e6e6e6;
}
.container {
    margin-inline: auto;
    width: min(90%, 95rem);
    padding-block: min(8%, 4rem);
}
.container-narrow {
    max-width: 38rem;
    margin-inline: auto;
}
/* ----------------------- */

/* -----------------home page starts------------------ */
#home-page {
    height: 100vh;
    max-width: 100%;
    color: var(--neutral-color);
    background: url(/Images/homepage.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* padding: 0 10rem; */
    position: relative;
}

#home-page nav {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-inline: 10rem;
}

#home-page nav img {
    width: 8rem;
    height: 100%;
}

#home-page nav a {
    text-decoration: none;
    color: var(--neutral-color);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}

.nav {
    display: flex;
    gap: 2rem;
    font-weight: normal;
}

#home-page header {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    /* margin-inline: 10rem; */
}

#home-page header h1 {
    font-size: clamp(4rem, 5.5rem + 1vw, 10rem);
    line-height: 6.5rem;
    text-align: center;
}
#home-page header p {
    font-size: 1.8rem;
    text-align: center;
    font-weight: lighter;
    line-height: 4rem;
}
#home-page header a {
    text-align: center;
    width: 6rem;
    padding: 0.5rem 0.5rem;
    border: 2px solid var(--neutral-color);
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-weight: 600;
}

#intro-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.to-services {
    background-color: var(--neutral-color);
}
.to-about-us {
    color: var(--neutral-color);
}
